html {
  background-color: #22223b;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
  height: 100vh;
  color: #c9ada7;
  background-color: #22223b;
}

.footer {
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
  position: relative;
  padding-top: 10;
  padding-bottom: 10;
  bottom: 0;
  color: #f2e9e4;
  justify-content: space-between;
  column-gap: 20px;
}

.header {
  color: #f2e9e4 !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin: 5px;
}

.justify-content-end li a:active {
  background: #f1d74c;
  color: #ffffff;
}
